$height: 32px;
$font-size: 14px;
$font-color: #fff;
$border-radius: 4px;
$border-color: #3eaf7c;
$border-color-hover: #5ac4cc;
$button-height: 32px;
$button-bg: #3eaf7c;
$button-active-bg: #4abf8a;
$box-shadow-color: rgba(0, 0, 0, 0.5);
$red: #F1453D;
$success: #3eaf7c;
$disabled-border-color: #8c8c8c;
$disabled-bg: #eee;
$disabled-color: #666;
$font-tips-color:#25b864